@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Press+Start+2P&family=Roboto+Slab:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lime;
    color: #ffffff;
    font-family: 'Press Start 2p', sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    line-height: 1.4;
}

.btn {
    border: 0;
    background: white;
    color: black;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}


.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.insect-list {
    display: flex;
    flex: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.insects-list li {
    margin: 10px;
}

.choose-insect-btn {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;

}

.choose-insect-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.choose-insect-btn:active {
    background-color: grey;
}
