*{
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#shop {
    right: 5px;
    top: 30px;
}

.bread {
    display:flex;
    position: absolute;
    background: url('../images/bread.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.count{
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 24px;
    display: flex;
    user-select: none;
}

.duck {
    position: absolute;
    width: 500px;
    height: 300px;
    background: url('../images/rubber duck.png');
    left: 0px;
    padding: 40px;
    display: flex;
    background-repeat: no-repeat;
    object-fit: contain;
}
